{{#form-for data on-submit=(action save) as |form|}}
  <button type="submit">Vengaaaa!!</button>

  (with presence validation)
  {{form.input-for "name"
    placeholder="Your name"
    autofocus=true}}
  (with format validation)

  {{form.input-for "email"
    type="email"
    placeholder="Your email"}}
  (a select with an array of string as options)

  {{form.select-for "animal"
    options=selectOptions
    label="animal"
    prompt="no animal"}}
  (a select with a collection of ember-data models,
   with `required=true`, and presence validation)

  {{form.select-for "category"
    options=categories
    labelPath="name"
    prompt="Choose a category"
    required=true}}
  (a radio-button group with a collection of
   ember-data models, and presence validation)

  {{form.radio-group-for "category"
    options=categories
    labelPath="name"}}

  (checkbox)
  {{form.checkbox-for "receiveNewsletter"}}

  <fieldset>
    <legend>Direcciones</legend>

    {{#each addressBuffers as |address index|}}
      <p class="label">Dirección {{index}}</p>

      {{#form.fields-for address.data as |fields|}}
        {{fields.input-for "street"}}

        {{fields.input-for "zipCode"}}

        {{fields.input-for "city"}}

        {{fields.input-for "country"}}
      {{/form.fields-for}}
    {{/each}}
  </fieldset>
{{/form-for}}

<p>After submit:</p>
<ul>
  <li>Name: {{model.name}}</li>
  <li>Email: {{model.email}}</li>
  <li>Animal: {{model.animal}}</li>
  <li>Category: {{model.category.name}}</li>
  <li>Receive newsletter?: {{model.receiveNewsletter}}</li>

  <p>Addresses</p>
  <ul>
    <li>
      {{#each model.addressess as |address|}}
        <ul>
          <li>Street: {{address.street}}</li>
          <li>Zip code: {{address.zipCode}}</li>
          <li>City: {{address.city}}</li>
          <li>Country: {{address.country}}</li>
        </ul>
      {{/each}}
    </li>
  </ul>
</ul>
